body {
  background-color: black;
  border: 3px solid plum;
  text-align: center;
  font-family: "Inconsolata", serif;
  font-size: 20px;
  color: snow;
}

h1 {
  font-family: "Kode Mono", serif;
  font-size: 48px;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
  background-size: 200%, 100%;
}

h2 {
  font-family: "Courier Prime", serif;
  font-size: 34px;
  color: snow;
}
 
p {
  font-family: "Inconsolata", serif;
  font-size: 20px;
  color: snow;
}

pre {
  font-family: "Doto", serif;
  border: 3px solid teal;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  font-size: 12px;
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  color: snow;
}

table {
  font-family: "Inconsolata", serif;
  font-size: 20px;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  border: solid 3px olive;
  margin: auto;
  color : snow;
}

div {
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

th {
  border: solid 3px purple;
}

td {
  border: solid 3px orangered;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

a:visited {
  color: mistyrose;
}

a:link {
  color: mistyrose;
}

a:hover {
  color: mistyrose;
}

a:active {
  color: mistyrose;
}
